<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="content">
    <div class="blog-card">
        <div class="blog-card-banner">
            <img th:if="${blog.featuredImage != null}"
                 th:src="${blog.featuredImage.getUrlOrNull()}"
                 th:alt="${blog.featuredImage.originalName}"
                 width="250" class="blog-banner-img">
        </div>
        <div class="blog-content-wrapper">
            <button class="blog-topic text-tiny">
                <th:block th:if="${blog.category != null}">
                    [[${blog.category.name}]]
                </th:block>
            </button>
            <h3>
                <a th:href="${'/blogs/' + slug}" class="h3">
                    [[${blog.title}]]
                </a>
            </h3>
            <div class="blog-text" th:text="${blog.shortedContent}">
            </div>
            <div class="wrapper-flex">
                <div class="profile-wrapper">
                    <img src="/images/author.png" alt="Julia Walker" width="50">
                </div>
                <div class="wrapper">
                    <a th:href="${'/author/' + blog.author.uuid}" class="h4">
                        [[${blog.author.name}]]
                    </a>
                    <p class="text-sm">
                        <time class="date-time-minute-string">
                            [[${blog.publishedAt}]]
                        </time>
                        <span class="separator"></span>
                        <ion-icon name="time-outline"></ion-icon>
                        <time datetime="PT3M">3 min</time>
                    </p>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
