.breadcrumb {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
}

.page-header {
    padding-top: 45px;
    padding-bottom: 30px;
}

.page-header .breadcrumb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header .breadcrumb .title {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

.page-header .breadcrumb .link {
    text-align: center;
    padding-top: 20px;
}
