<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:ezy="http://www.ezyplatform.com/thymeleaf/layout"
    layout:decorate="~{ezytheme}">
<head>
    <th:block th:if="${pageFragments.get('content') != null && !#strings.isEmpty(pageFragments.get('content').additionalHead)}">
        <ezy:block ezy:utext="${pageFragments.get('content').additionalHead}" />
    </th:block>
</head>
<th:block layout:fragment="content">
    <th:block th:if="${pageFragments.get('content') != null && pageFragments.get('content').content != 'content'}">
        <th:block th:utext="${pageFragments.get('content').content}" />
    </th:block>
    <th:block th:if="${pageFragments.get('content') == null || pageFragments.get('content').content == 'content'}">
        <div class="container mt-3 mb-3 post-container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="post-title-heading">[[${post.title}]]</h3>
                </div>
                <div class="col-md-12">
                    <hr class="mb-4"/>
                </div>
                <div class="col-md-12 post-content" th:utext="${post.content}"></div>
            </div>
        </div>
    </th:block>
</th:block>
<th:block layout:fragment="scripts">
    <th:block th:if="${pageFragments.get('content') != null && !#strings.isEmpty(pageFragments.get('content').additionalFoot)}">
        <ezy:block ezy:utext="${pageFragments.get('content').additionalFoot}" />
    </th:block>
</th:block>
</body>
</html>
