<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:ezy="http://www.ezyplatform.com/thymeleaf/layout"
      layout:decorate="~{ezytheme}">
<head>
    <th:block th:if="${pageFragments.get('content') != null && !#strings.isEmpty(pageFragments.get('content').additionalHead)}">
        <ezy:block ezy:utext="${pageFragments.get('content').additionalHead}" />
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <th:block th:if="${pageFragments.get('content') != null && pageFragments.get('content').content != 'content'}">
        <ezy:block ezy:utext="${pageFragments.get('content').content}" />
    </th:block>
    <th:block th:if="${pageFragments.get('content') == null || pageFragments.get('content').content == 'content'}">
        <th:block th:replace="~{fragments/posts :: posts}" />
    </th:block>
</th:block>
<th:block layout:fragment="scripts">
    <th:block th:if="${pageFragments.get('content') != null && !#strings.isEmpty(pageFragments.get('content').additionalFoot)}">
        <ezy:block ezy:utext="${pageFragments.get('content').additionalFoot}" />
    </th:block>
    <th:block th:if="${pageFragments.get('content') == null || #strings.isEmpty(pageFragments.get('content').additionalFoot)}">
        <script>
            function capitalize(s) {
                return s[0].toUpperCase() + s.slice(1);
            }

            let currentUrl = new URL(window.location.href);
            let filteredTitle = $("#filteredTitle");
            currentUrl.searchParams.forEach((value, key) => {
                if (key === "nextPageToken" || key === "")
                filteredTitle.append(
                    $(`<h3>${capitalize(key)}: "${value}"</h3>`)
                );
            });
        </script>
        <script th:replace="~{fragments/posts :: scripts}"/>
    </th:block>
</th:block>
</body>
</html>
