.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px 20px 60px;
}

.main-nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.main-mobile-menu {
    position: fixed;
    height: 100%;
    width: 310px;
    transform: translate3d(-100%,0,0);
    z-index: 100;
    transition: all 0.6s ease-in-out;
    background: #1f345e;
}
.main-mobile-menu li > a {
    color: #fff;
}
.main-mobile-menu ul {
    list-style: none;
    margin: 0px;
}
.main-account-common-menu {
    padding-left: 1rem;
}

.main-logo {
    max-height: 64px;
}

@media (max-width: 991px) {
    .main-nav {
        padding: 20px 0px 20px 0px;
    }
}
