.main-book {
    display: flex;
}

.main-book .description-item {
    width: 50%;
}

.main-book .description-item .lead {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.main-book .description-item .author {
    margin-top: 12px;
    font-size: 2rem;
}

.main-book .image-item {
    width: 50%;
    display: flex;
    justify-content: end;
}

@media (max-width: 767.98px) {
    .main-book {
        flex-direction: column;
    }

    .main-book .description-item {
        width: 100%;
    }

    .main-book .image-item {
        width: 100%;
        justify-content: ceter;
    }
}
