.post-content-wrapper,
.post-content,
.post-item,
.page-preview,
.post-preview,
.market-item-details,
.faq-container,
.privacy-policy,
.terms-of-service {
    color: #292b2c;
}
.post-content-wrapper {
    padding-top: 30px;
}
.post-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 28px;
}
.post-title-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
}
.post-title-wrapper .post-updated-at {
    font-size: 14px;
    margin-top: 10px;
}
.post-terms-wrapper {
    margin-bottom: 20px;
}
.post-terms-wrapper .post-term {
    border: 1px solid rgba(0, 0, 0, .125);
    color: #0d6efd;
    padding: 8px;
    font-size: 14px;
}
.post-content {
    font-size: 16px;
    line-height: 24px;
    overflow-wrap: break-word;
}
.post-content h1 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.post-content h2 {
    font-weight: 700;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-content h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.post-content h4 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.post-content h5 {
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.post-content img,
.page-preview img,
.post-content video,
.post-preview video,
.post-content audio,
.post-preview audio,
.post-content iframe,
.post-preview iframe {
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.post-content ol {
    list-style: auto;
    padding: revert;
    margin: revert;
}
.post-content ol li, .post-content ul li {
    padding-top: 5px;
    padding-bottom 5px;
}
.post-content p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.post-content pre {
    margin-bottom: 0;
}
.post-content ul {
    list-style: disc;
    padding: revert;
    margin: revert;
}
.post-content table td,
.post-content table th {
  padding: 5px;
  border-width: 1px;
  border-color: #000;
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;
}
.post-content table {
   min-width: 50%;
   max-width: 100%;
   overflow-x: auto;
   display: block;
}

.post-item {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.post-item:hover {
    opacity: 0.6;
}

.post-item-thumbnail img {
    width: calc((16 / 9) * 110px);
    height: 110px;
    object-fit: cover;
    max-width: inherit;
}

.post-item-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.post-item-metadata {
    display: flex;
    gap: 8px;
    font-size: 14px;
    margin-top: 8px;
}

@media (max-width: 768px) {
    .post-item {
        flex-direction: column;
    }
    .post-item-thumbnail img {
        width: 100%;
        height: calc((9 / 16) * 100vw);
    }
}

@media (max-width: 576px) {
    .post-content-wrapper {
        padding-top: 20px;
    }
}
