<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ezytheme}">
<body>
<div layout:fragment="content" class="store author-container">
    <div class="author-banner">
        <div class="author-cover">
            <img class="author-cover-image"
                 th:src="${author.coverImage != null ? author.coverImage.getUrlOrDefault('/images/book-programming-principles.jpg') : '/images/book-programming-principles.jpg'}"
                 th:alt="${author.displayName}" />
        </div>
        <div class="author-banner-content container">
            <div class="author-avatar">
                <img class="author-avatar-image"
                     th:src="${author.avatarImage != null ? author.avatarImage.getUrlOrDefault('/images/logo.svg') : '/images/logo.svg'}"
                     th:alt="${author.displayName}" />
            </div>
            <div class="author-meta">
                <div class="author-label">[[#{author}]]</div>
                <h1 class="author-name">[[${author.displayName}]]</h1>
            </div>
        </div>
    </div>
    <div class="container author-body-container">
        <div class="row">
            <div class="col-lg-4 order-lg-2 mb-4 mb-lg-0">
                <div class="author-intro-card">
                    <h2 class="author-intro-title">[[#{author}]]</h2>
                    <p class="author-intro-text" th:text="${author.description}"></p>
                    <a class="author-intro-link" th:if="${author.websiteUrl != null}"
                       th:href="${author.websiteUrl}" target="_blank" rel="noopener">
                        [[${author.websiteUrl}]]
                    </a>
                </div>
            </div>
            <div class="col-lg-8 order-lg-1">
                <div class="input-group input-group-lg mb-4">
                    <input type="search" class="form-control rounded-start"
                           th:placeholder="#{keyword}" id="bookSearchKeyword"
                           th:aria-label="keyword" aria-describedby="store-search-input"
                           th:value="${bookSearchKeyword}"
                           onkeydown="onKeydownToSearchBookItems(this);">
                    <span class="input-group-text rounded-end text-primary" id="store-search-input">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div id="bookListWrapper">
                    <div class="books" id="bookListBody">
                        <th:block th:each="book : ${books.items}">
                            <th:block th:replace="~{fragments/book-item :: content(book=${book})}" />
                        </th:block>
                    </div>
                    <div th:if="${books.continuation.hasNext}"
                         class="d-flex justify-content-center pt-5" id="nextButtonContainer">
                        <button type="button" class="btn btn-outline-primary px-5 py-3" onclick="fetchBookList('next')">
                            [[#{load_mores}]]
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="post-scripts">
    <th:block th:replace="~{fragments/book-list :: scripts}" />
</th:block>
</body>
</html>
