<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ezy="http://www.ezyplatform.com/thymeleaf/layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ezytheme}">
<body>
<div layout:fragment="content" class="container-fluid store">
    <h1 class="page-title text-center py-5">
        [[#{store}]]
    </h1>
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="sidebar">
                <h3>[[#{categories}]]</h3>
                <div class="list-group  hidden-sm hidden-xs" id="list-group-l">
                    <ul>
                        <li th:each="menu : ${categories}">
                            <a th:href="${'/book-categories/' + menu.category.name}">
                                <span>[[${menu.category.displayName}]]</span>
                            </a>
                            <ul th:if="${menu.children.size() > 0}">
                                <li th:each="menuItemLv1 : ${menu.children}">
                                    <a th:href="${'/book-categories/' + menuItemLv1.category.name}">
                                        <span th:text="${menuItemLv1.category.displayName}"></span>
                                    </a>
                                    <ul th:if="${menuItemLv1.children.size() > 0}">
                                        <li th:each="menuItemLv2 : ${menuItemLv1.children}">
                                            <a th:href="${'/book-categories/' + menuItemLv2.category.name}">
                                                [[${menuItemLv2.category.displayName}]]
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="books">
                <a th:each="book : ${books.items}" class="book"
                   th:href="${'/store/books/' + book.id}">
                    <div class="book-image">
                        <img src="/images/book-programming-principles.jpg" alt="book image">
                    </div>
                    <div class="book-content">
                        <div th:if="${book.discountPercent > 0}" class="book-tags">
                            <span class="discount-percent"
                                  th:text="${'- ' + book.discountPercent + ' %'}"></span>
                        </div>
                        <p class="book-title" th:text="${book.name}"></p>
                        <div class="book-author">
                            <span class="author-title">[[#{author}]]</span>
                            <span class="author-name">[[#{author}]]</span>
                        </div>
                        <div class="prices">
                            <span>
                                [[${book.formattedPriceIncludeSymbol}]]
                            </span>
                            <span>
                                [[${book.formattedOriginalPriceIncludeSymbol}]]
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="scripts" th:inline="javascript">
    $(document).ready(function () {
        $("#toggle-menu").click(function () {
            $("#menu-items").toggle();
        });
    });

    $(document).ready(function () {
        $("#toggle-sub-menu").click(function () {
            $("#sub-menu-items").toggle();
        });
    });

    $(document).ready(function () {
        $(".preview-book").click(function () {
            var bookId = $(this).attr('id');
            var currenCurrency = $("#currentCurrency").text();
            $.ajax({
                type: "GET",
                url: "/api/v1/books/" + bookId,
                data: {currencyId: currenCurrency},
                success: function (data) {
                    console.log(data);
                    $("#bookName").text(data.productName);
                    // $("#bookAuthor").text(data.author);
                    $("#bookPrice").text(data.formattedPrice);
                    $("#bookAmount").text(data.amount);
                    $(".modal-backdrop").remove();
                },
                error: function (xhr) {
                    alert("An error occurred: " + xhr.status + " " + xhr.statusText);
                }
            })
            $("#previewModal").modal('show');
        });
        $(".close, .close-btn").click(function () {
            $("#previewModal").modal('hide');
        })
    })

    function changeImage(src) {
        document.getElementById("mainImage").src = src;
    }

</script>
</body>
</html>
