<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ezytheme}">
<body>
<div layout:fragment="content">
    <div class="hero">
        <div class="container">
            <div class="left">
                <h1 class="h1">
                    <th:block th:if="${headingFragments.get('description').title != 'description'}"
                              th:utext="${headingFragments.get('description').title}">
                    </th:block>
                </h1>
                <p class="h3">
                    <th:block th:if="${headingFragments.get('description').content != 'description'}"
                              th:utext="${headingFragments.get('description').content}">
                    </th:block>
                </p>
                <div class="btn-group">
                    <a href="/contact-us" class="btn btn-primary">[[#{contact}]]</a>
                    <a href="/about-us" class="btn btn-secondary">[[#{about_me}]]</a>
                </div>
            </div>
            <div class="right">
                <div class="pattern-bg"></div>
                <div class="img-box">
                    <img th:src="${!#strings.isEmpty(webBannerImageUrl) ? webBannerImageUrl : '/images/hero.png'}"
                         class="hero-img" th:alt="#{banner}"/>
                    <div class="shape shape-1"></div>
                    <div class="shape shape-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="blog">
                <h2 class="h2">[[#{latest_blog_posts}]]</h2>
                <div class="blog-card-group" id="blogListBody">
                    <th:block th:each="blog : ${pagination.items}">
                        <th:block th:replace="~{fragments/blog-item :: content(blog=${blog})}"></th:block>
                    </th:block>
                </div>
                <button type="button" class="btn load-more"
                        onclick="fetchBlogList('next')">
                    [[#{load_more}]]
                </button>
            </div>
            <div class="aside">
                <div class="topics">
                    <h2 class="h2">[[#{topics}]]</h2>
                    <a th:each="topCategory : ${topCategories}"
                       th:href="${'/topics/' + topCategory.slug}"
                       class="topic-btn">
                        <div class="icon-box">
                            <img th:if="${topCategory.titleImage != null}"
                                 th:src="${topCategory.titleImage.getUrlOrNull()}">
                        </div>
                        <p>[[${topCategory.name}]]</p>
                    </a>
                </div>
                <div class="tags">
                    <h2 class="h2">[[#{tags}]]</h2>
                    <div class="wrapper">
                        <button th:each="topTag : ${topTags}"
                                type="button" class="hashtag">
                            #[[${topTag.name}]]
                        </button>
                    </div>
                </div>
                <div class="contact">
                    <h2 class="h2">[[#{lets_talk}]]</h2>
                    <div class="wrapper">
                        <p>[[#{contact_description}]]</p>
                        <ul class="social-link">
                            <li>
                                <a href="#" class="icon-box discord">
                                    <ion-icon name="logo-discord"></ion-icon>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="icon-box twitter">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="icon-box facebook">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="newsletter">
                    <h2 class="h2">[[#{newsletter}]]</h2>
                    <div class="wrapper">
                        <p>[[#{newsletter_description}]]</p>
                        <form id="subscribeForm" onsubmit="return false;">
                            <input type="email" name="email" th:placeholder="#{email_address}" required
                                   onkeydown="onKeydownToSubscribe();">
                            <button type="button" class="btn btn-primary" onclick="onSubscribeClick();">
                                [[#{subscribe}]]
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="scripts" th:inline="javascript">
/*<![CDATA[*/
var lastBlogPageToken = {};
lastBlogPageToken.next = /*[[${pagination.pageToken.next}]]*/ '';
ezyweb.messages.subscribe_successfully = /*[[#{subscribe_successfully}]]*/;
ezyweb.messages.author = /*[[#{author}]]*/ 'Author';
ezyweb.messages.minute_short = /*[[#{minute_short}]]*/ 'min';
/*]]>*/

var onKeydownToSubscribe = function() {
    if(event.key === 'Enter') {
        onSubscribeClick();
    }
}

var onSubscribeClick = function() {
    var formData = ezyweb.formDataToObject('subscribeForm');
    $.ajax({
        type: 'POST',
        url: '/api/v1/ezycrm/subscribe',
        contentType: 'application/json',
        data: JSON.stringify(formData)
    }).done(function (menu) {
        alert(ezyweb.messages.subscribe_successfully);
    }).fail(function (e) {
        ezyweb.processGetApiErrors(e);
    });
}

//================ blog list =============
var fetchBlogList = (action) => {
    const params = new URLSearchParams({ limit: 12 });
    if (action === 'next') {
        if (lastBlogPageToken.next) {
            params.append('nextPageToken', lastBlogPageToken.next);
        } else {
            return;
        }
    }
    $.ajax({
        url: `/api/v1/blogs?${params.toString()}`,
        type: 'GET',
        dataType: 'json'
    })
    .done((data) => {
        lastBlogPageToken = data.pageToken;
        const html = buildBlogListBodyHtml(data.items || []);
        if (action === 'next') {
            $('#blogListBody').append(html);
        } else {
            $('#blogListBody').html(html);
        }
        if (!data?.continuation.hasNext) {
            $('#nextButtonContainer').remove();
        }
    })
    .fail((e) => {
        ezyweb.processGetApiErrors(e);
    });
};

const buildBlogListBodyHtml = (blogList = []) => {
    let html = '';
    blogList.forEach((blog) => {
        html += buildBlogListItemHtml(blog);
    });
    return html;
};

const buildBlogListItemHtml = (blog) => {
    const authorName = blog.author?.name || ezyweb.messages.author;
    const readingMinutes = blog.readingMinutes ?? 3;
    const minuteLabel = ezyweb.messages.minute_short || 'min';

    return `
        <div class="blog-card">
            <div class="blog-card-banner">
                ${blog.featuredImage ? `
                    <img src="${ezyweb.extractMediaUrl(blog.featuredImage)}"
                         alt="${blog.featuredImage.originalName || ''}"
                         width="250"
                         class="blog-banner-img">
                ` : ''}
            </div>
            <div class="blog-content-wrapper">
                <button class="blog-topic text-tiny">
                    ${blog.category?.name || ''}
                </button>
                <h3>
                    <a href="/blog/${blog.slug}" class="h3">
                        ${blog.title || ''}
                    </a>
                </h3>
                <div class="blog-text">
                    ${blog.shortedContent || ''}
                </div>
                <div class="wrapper-flex">
                    <div class="profile-wrapper">
                        <img src="/images/author.png" alt="${authorName}" width="50">
                    </div>
                    <div class="wrapper">
                        <a href="/author/${blog.author?.uuid || '#'}" class="h4">
                            ${authorName}
                        </a>
                        <p class="text-sm">
                            <time class="date-time-minute-string">
                                ${ezyweb.formatTimeStamp(blog.publishedAt)}
                            </time>
                            <span class="separator"></span>
                            <ion-icon name="time-outline"></ion-icon>
                            <time datetime="PT${readingMinutes}M">${readingMinutes} ${minuteLabel}</time>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    `;
};
</script>
</body>
</html>
