<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:ezy="http://www.ezyplatform.com/thymeleaf/layout"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ezytheme}">
<body>
<div layout:fragment="content">
    <div class="hero">
        <div class="container">
            <div class="left">

                <h1 class="h1">
                    Hi, I'm <b>Julia&nbsp;Walker</b>.
                    <br>Web Developer
                </h1>
                <p class="h3">
                    Specialized in <abbr title="Accessibility">a11y</abbr>
                    and Core Web Vitals
                </p>
                <div class="btn-group">
                    <a href="#" class="btn btn-primary">Contact Me</a>
                    <a href="#" class="btn btn-secondary">About Me</a>
                </div>
            </div>
            <div class="right">
                <div class="pattern-bg"></div>
                <div class="img-box">
                    <img src="/images/hero.png" alt="Julia Walker" class="hero-img">
                    <div class="shape shape-1"></div>
                    <div class="shape shape-2"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="blog">
                <h2 class="h2">Latest Blog Post</h2>
                <div class="blog-card-group">
                    <th:block th:each="blog : ${pagination.items}">
                        <th:block th:replace="~{fragments/blog-item :: content(blog=${blog})}"></th:block>
                    </th:block>
                </div>
                <button class="btn load-more">Load More</button>
            </div>
            <!--
              - ASIDE
            -->
            <div class="aside">

                <div class="topics">

                    <h2 class="h2">Topics</h2>

                    <a href="#" class="topic-btn">
                        <div class="icon-box">
                            <ion-icon name="server-outline"></ion-icon>
                        </div>

                        <p>Database</p>
                    </a>

                    <a href="#" class="topic-btn">
                        <div class="icon-box">
                            <ion-icon name="accessibility-outline"></ion-icon>
                        </div>

                        <p>Accessibility</p>
                    </a>

                    <a href="#" class="topic-btn">
                        <div class="icon-box">
                            <ion-icon name="rocket-outline"></ion-icon>
                        </div>

                        <p>Web Performance</p>
                    </a>

                </div>

                <div class="tags">

                    <h2 class="h2">Tags</h2>

                    <div class="wrapper">

                        <button class="hashtag">#mongodb</button>
                        <button class="hashtag">#nodejs</button>
                        <button class="hashtag">#a11y</button>
                        <button class="hashtag">#mobility</button>
                        <button class="hashtag">#inclusion</button>
                        <button class="hashtag">#webperf</button>
                        <button class="hashtag">#optimize</button>
                        <button class="hashtag">#performance</button>

                    </div>

                </div>

                <div class="contact">

                    <h2 class="h2">Let's Talk</h2>

                    <div class="wrapper">

                        <p>
                            Do you want to learn more about how I can help your company overcome problems? Let us have a
                            conversation.
                        </p>

                        <ul class="social-link">

                            <li>
                                <a href="#" class="icon-box discord">
                                    <ion-icon name="logo-discord"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="icon-box twitter">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="icon-box facebook">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>

                <div class="newsletter">

                    <h2 class="h2">Newsletter</h2>

                    <div class="wrapper">

                        <p>
                            Subscribe to our newsletter to be among the first to keep up with the latest updates.
                        </p>

                        <form action="#">
                            <input type="email" name="email" placeholder="Email Address" required>

                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="post-scripts">
</th:block>
</body>
</html>
