<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:ezy="http://www.ezyplatform.com/thymeleaf/layout">

<head th:remove="tag">
	<th:block th:if="${commonFragments.get('styles') == null || commonFragments.get('styles').content == 'styles'}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" type="text/css" ezy:vhref="/css/main.css" />
		<link rel="stylesheet" type="text/css" ezy:vhref="/css/common.css" />
		<link rel="stylesheet" type="text/css" ezy:vhref="/css/blog-details.css" />
		<link rel="stylesheet" type="text/css" ezy:vhref="/css/contact-us.css" />
		<link rel="stylesheet" type="text/css" ezy:vhref="/css/support-pages.css" />
        <link rel="stylesheet" type="text/css" ezy:vhref="/css/coin-price.css" />
	</th:block>
	<th:block th:if="${commonFragments.get('styles') != null && commonFragments.get('styles').content != 'styles'}">
        <ezy:block ezy:utext="${commonFragments.get('styles').content}" />
    </th:block>
	<th:block th:if="${commonFragments.get('header') != null && !#strings.isEmpty(commonFragments.get('header').additionalHead)}">
        <ezy:block ezy:utext="${commonFragments.get('header').additionalHead}" />
    </th:block>
	<th:block th:if="${pageFragments != null && pageFragments.get('container') != null && !#strings.isEmpty(pageFragments.get('container').additionalHead)}">
        <ezy:block ezy:utext="${pageFragments.get('container').additionalHead}" />
    </th:block>
	<th:block th:if="${commonFragments.get('footer') != null && !#strings.isEmpty(commonFragments.get('footer').additionalHead)}">
        <ezy:block ezy:utext="${commonFragments.get('footer').additionalHead}" />
    </th:block>
</head>
<body th:remove="tag">
<div class="wrapper light-theme" id="theme-wrapper">
	<th:block th:if="${commonFragments.get('header') != null && commonFragments.get('header').content != 'header'}">
		<ezy:block ezy:utext="${commonFragments.get('header').content}" />
	</th:block>
	<th:block th:if="${commonFragments.get('header') == null || commonFragments.get('header').content == 'header'}">
		<header class="header">
			<th:block th:replace="~{fragments/header :: header}" />
		</header>
	</th:block>
	<th:block th:if="${pageFragments != null && pageFragments.get('container') != null && pageFragments.get('container').content != 'container'}">
		<ezy:block ezy:utext="${pageFragments.get('container').content}" />
	</th:block>
	<th:block th:if="${pageFragments == null || pageFragments.get('container') == null || pageFragments.get('container').content == 'container'}">
		<main>
			<th:block layout:fragment="content" />
		</main>
	</th:block>
	<th:block th:if="${commonFragments.get('footer') != null && commonFragments.get('footer').content != 'footer'}">
		<ezy:block ezy:utext="${commonFragments.get('footer').content}" />
	</th:block>
	<th:block th:if="${commonFragments.get('footer') == null || commonFragments.get('footer').content == 'footer'}">
		<th:block th:replace="~{fragments/footer :: footer}" />
	</th:block>
</div>

<th:block th:replace="~{ezycommon/loading :: content}" />

<th:block layout:fragment="modals" />

<th:block th:if="${commonFragments.get('scripts') == null || commonFragments.get('scripts').content == 'scripts'}">
	<!-- REQUIRED SCRIPTS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@11.12.2/dist/mermaid.min.js" integrity="sha256-0IMKbAVUbp7bj+IKj1RfPg3HxMMTTVhLrZwTqZ16ceA=" crossorigin="anonymous"></script>
    <script ezy:vsrc="/js/coin-price.js" type="text/javascript"></script>
    <script ezy:vsrc="/js/main.js" type="text/javascript"></script>
</th:block>

<th:block th:if="${commonFragments.get('scripts') != null && commonFragments.get('scripts').content != 'scripts'}">
    <ezy:block ezy:utext="${commonFragments.get('scripts').content}" />
</th:block>
<!-- OPTIONAL SCRIPTS -->
<th:block layout:fragment="import-scripts" />
<th:block layout:fragment="pre-main-scripts" />
<th:block layout:fragment="scripts" />
<th:block layout:fragment="post-scripts" />
<script>
$( document ).ready(function() {
	ezyweb.formatDateStringElements();
	ezyweb.formatDateTimeStringElements();
	ezyweb.formatDateTimeMinuteStringElements();
	ezyweb.formatStatusTextElements();
	ezyweb.formatNumberWithCommasElements();
	if (ezyweb.lang) {
		ezyweb.appendLangParameterToLinks(ezyweb.lang);
	}

    mermaid.initialize({
        startOnLoad: false,
        theme: "default"
    });

    <!--  STEP 1 + 2: Convert Markdown → source-mermaid -->
    $('.article-content pre').each(function () {
        var $pre = $(this);
        var text = $pre.text();

        if (!text || text.indexOf('```mermaid') === -1) {
          return;
        }

        var code = text
          .replace(/```mermaid\s*/i, '')
          .replace(/```/g, '')
          .trim();

        if (!code) return;

        var $wrapper = $('<div class="source-mermaid"></div>');
        var $newPre = $('<pre></pre>').text(code);

        $wrapper.append($newPre);
        $pre.replaceWith($wrapper);
    });

    <!-- Render Mermaid -->
    $('.source-mermaid pre').each(function (index) {
        var preElement = $(this);
        var code = $.trim(preElement.text());

        if (!code) {
            return;
        }
        var id = 'mermaid-diagram-' + index;
        var $container = $('<div>', {
            class: 'mermaid',
            id: id,
            text: code
        });
        preElement.parent().replaceWith($container);
        mermaid
            .render(id + '-svg', code)
            .then(function (result) {
                $container.html(result.svg);
            })
            .catch(function (err) {
                console.error('Mermaid render error:', err);
            });
    });

    mermaid.run();
});
</script>
<th:block th:if="${commonFragments.get('header') != null && !#strings.isEmpty(commonFragments.get('header').additionalFoot)}">
	<ezy:block ezy:utext="${commonFragments.get('header').additionalFoot}" />
</th:block>
<th:block th:if="${pageFragments != null && pageFragments.get('container') != null && !#strings.isEmpty(pageFragments.get('container').additionalFoot)}">
	<ezy:block ezy:utext="${pageFragments.get('container').additionalFoot}" />
</th:block>
<th:block th:if="${commonFragments.get('footer') != null && !#strings.isEmpty(commonFragments.get('footer').additionalFoot)}">
	<ezy:block ezy:utext="${commonFragments.get('footer').additionalFoot}" />
</th:block>
<th:block th:if="${showCoinWidget}">
    <th:block th:replace="~{fragments/coin-price-widget :: coin-price-widget}" />
</th:block>
</body>
</html>
